# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore logs
*.log

# Ignore static and media files (if they are dynamically generated)
static/
media/

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore other unnecessary files
.DS_Store
